<hr>
<div class="col-8">
  <div class="row between align-center">
    <div class="col-2">
      <figure>
        <a href="#">
        <img src="static/images/killbase-assassins.png" alt="Picture of assassin-name" height="200" width="200">
        <figcaption>Assassin-name</figcaption>
        </a>
      </figure>
    </div>
    <div class="col-7">
      <h4 class="normal">Assassin Name</h4><h4>Code Name</h4>
      <table>
        <tr>
          <td>Rating: <%= %></td>
          <td>Kills: X</td>
        </tr>
        <tr>
          <td>Price: X</td>
          <td>Age: X</td>
        </tr>
        <tr>
          <td>Weapons: X</td>
          <td>Contact: X</td>
        </tr>
      </table>
    </div>
    <div class="col-2">
      <button class="button secondary round small">Edit</button>
      <p> </p>
      <button class="button secondary round small">Delete</button>
    </div>
  </div>
</div>
