<footer>
  <div class="row gutters align-center">
    <div class="col col-8">
      <p>© 2017 R. Lance Hunter</p>
    </div>
  </div>
</footer>
<script src="/static/js/jquery-3.2.1.js" type="text/javascript"></script>
<% if (onContracts) { %>
  <script src="/static/js/contractsApp.js" type="text/javascript"></script>
<% } %>
<% if (onAssassins) { %>
  <script src="/static/js/assassinsApp.js" type="text/javascript"></script>
<% } %>
<script src="/static/js/kube.js" type="text/javascript"></script>
