<div class="row gutters align-center">
  <% if (onMain) { %>
  <div class="col col-2 push-right">
    <% } else { %>
      <div class="col col-2 push-right">
    <% } %>
    <figure>
      <a href="/">
        <% if (onMain) { %>
        <img src="/static/images/killbase-logo.png" alt="KILLBASE logo" height="300" width="300">
        <% } else { %>
          <img src="/static/images/killbase-logo.png" alt="KILLBASE logo" height="200" width="200">
        <% } %>
      </a>
    </figure>
  </div>
  <div class="col col-4 push-middle">
    <h1 class="title">KILLBASE</h1>
  </div>
  <% if (!onMain) { %>
    <nav class="pagination pager push-bottom">
        <ul>
            <li class="prev"><a href="/assassins">Assassins</a></li>
            <li class="next"><a href="/contracts">Contracts</a></li>
        </ul>
    </nav>
  <% } %>
</div>
