<% if (onContracts) { %>
<form class="form" action="/contracts/search" method="get">
    <div class="form-item">
        <div class="append w60 w100-sm">
          <input type="text secondary" class="small" id="seach" name="nameSearch">
          <button class="button small secondary outline"><i class="kube-search"></i></button>
          <select class="small w30" name="typeSearch" id="searchOptions">
              <option>Target</option>
              <option>Client</option>
          </select>
        </div>
    </div>
</form>
<% } %>
<% if (onAssassins) { %>
<form class="form" action="/assassins/search" method="get">
    <div class="form-item">
        <div class="append w60 w100-sm">
          <input type="text search secondary" class="small" id="seach" name="nameSearch">
          <button class="button small secondary outline"><i class="kube-search"></i></button>
          <select class="small w30" name="typeSearch" id="searchOptions">
              <option>Name</option>
              <option>Code Name</option>
          </select>
        </div>
    </div>
</form>
<% } %>
