<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head.ejs %>
    <title>KILLBASE - Assassins</title>
  </head>

  <body>
    <header>
      <% include ./partials/header.ejs %>
    </header>

    <main>
      <div class="row gutters align-center">
        <div class="col-8 align-center">
          <h2 class="normal">Active Assassins - <%= assassins.length %></h2>
          <% assassins.forEach((assassin) => { %>
            <%   include ./partials/assassinframe.ejs %>
          <% }) %>
        </div>
      </div>
    </main>

    <% include ./partials/footer.ejs %>
  </body>

</html>
