<!DOCTYPE html>
<html>
  <head>
    <title>KILLBASE - Contracts</title>
    <% include ./partials/head.ejs %>
  </head>

  <body>
    <header>
      <% include ./partials/header.ejs %>
    </header>

    <main>
      <div class="row gutters align-center">
        <div class="col-8 align-center">
          <div>
          <% if (!search) { %>
          <h2 class="normal">Active Contracts - <%= contracts.length %></h2>
          <% } else { %>
          <h2 class="normal">Matching Contracts - <%= contracts.length %></h2>
          <% } %>
          <% include ./partials/searchBar.ejs %>
          </div>
          <% contracts.forEach((contract) => { %>
            <%   include ./partials/contractframe.ejs %>
          <% }) %>
          <div class="col-4 push-right">
            <a href="/contracts/add" class="button round secondary large" role="button">New Contract</a>
          </div>
        </div>
      </div>
    </main>

    <% include ./partials/footer.ejs %>
  </body>
</html>
