<!DOCTYPE html>
<html>
  <head>
    <title>KILLBASE - Contracts</title>
    <% include ./partials/head.ejs %>
  </head>

  <body>
    <header>
      <% include ./partials/header.ejs %>
    </header>

    <main>
      <div class="row gutters align-center">
        <div class="col-8 align-center">
          <div>
          <% if (!search) { %>
          <h2 class="normal">Active Contracts - <%= contracts.length %></h2>
          <% } else { %>
          <h2 class="normal">Matching Contracts - <%= contracts.length %></h2>
          <% } %>
            <form class="form" action="/contracts/search" method="get">
                <div class="form-item">
                    <div class="append w60 w100-sm">
                      <input type="text secondary" class="small" id="seach" name="nameSearch">
                      <button class="button small secondary outline"><i class="kube-search"></i></button>
                      <select class="small w30" name="typeSearch" id="searchOptions">
                          <option>Target</option>
                          <option>Client</option>
                      </select>
                    </div>
                </div>
            </form>
          </div>
          <% contracts.forEach((contract) => { %>
            <%   include ./partials/contractframe.ejs %>
          <% }) %>
        </div>
      </div>
    </main>

    <% include ./partials/footer.ejs %>
  </body>
</html>
